.Flask{
    /* background-color: red; */
    margin: 0 auto;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    width: 80%;
   

}
.sub__flask{
    display: flex;
    flex-direction: column;
    gap: 20px;

}
form{
    margin-bottom: 20px;
   
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;

}
.fullname{
    display: flex;
 justify-content: space-between;
  /*display: flex;
  width: 100%;
   */
}
.name{
    display: flex;
    flex-direction: column;
}
.title{
    width: 448px;
height: 44px;
margin-bottom: 10px;

/* Display md/Semibold */

font-family: sans-serif;
font-style: normal;
font-weight: 600;
font-size: 26px;
line-height: 44px;
/* identical to box height, or 122% */

letter-spacing: -0.02em;

/* Gray/900 */

color: #101828;


/* Inside auto layout */

}
.inputtext{


width:342px;
height: 44px;

/* Base/White */

background: #FFFFFF;
/* Gray/300 */

border: 1px solid #D0D5DD;
/* Shadow/xs */

box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
border-radius: 8px;

/* Inside auto layout */

}
.inputtext2{


/* width: 100%; */
height: 44px;

/* Base/White */

background: #FFFFFF;
/* Gray/300 */

border: 1px solid #D0D5DD;
/* Shadow/xs */

box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
border-radius: 8px;

/* Inside auto layout */

}
::placeholder{
    padding-left: 10px;
}
.inputtext3{
    height: 132px;
   
    
    /* width: 720px; */
   
    /* Base/White */
    
    background: #FFFFFF;
    /* Gray/300 */
    
    border: 1px solid #D0D5DD;
    
    /* Shadow/xs */
    
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    
    
    /* Inside auto layout */

}
.inputtext3::placeholder{
    margin-top: 40px !important;
}
.check{
    display: flex;
    gap: 5px;
    width: 100%;
    align-items: center;
    color: #101828;
}
.check_paragraph{
    color: #101828;
}
label{
    
width: 71px;
height: 20px;
/* Text sm/Medium */

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */


/* Gray/700 */

color: #344054;
}
.submit{
    
/* width:100%; */
height: 48px;

/* Primary/600 */

background: #1570EF;
/* Primary/600 */

border: 1px solid #1570EF;
/* Shadow/xs */

box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
border-radius: 8px;
color: white;
}


 
@media screen and (max-width: 800px) {
    .fullname{
        flex-direction: column;
        gap: 8px;
    }
    .inputtext, .submit, .inputtext2, .inputtext3{
        /* width: 100%; */
       
        
    }
    .name{
        flex-direction: column;
        /* background-color: red; */
        flex: 1;
        
     
    }

    .title{
        font-size: 20px;
    }
    p{
        font-size: 13px;
    }
    ::placeholder{
        font-size: 13px;
    }

}